{% extends "base.html" %}

{% block title %}Report{% endblock %}

{% block navbar %}{% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<h1>All Tickets</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create Ticket
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create Ticket</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="{{ url_for('index')}}">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Your name</label>
                    <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="Enter name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Your email</label>
                    <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="example@mail.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Problem title</label>
                    <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="Problem">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Problem desc</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="desc" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
      </div>
    </div>
</div>
  
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Your Problem</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
    {% for ticket in tickets %}
      <tr>
        <th scope="row">{{ loop.index}}</th>
        <td>{{ ticket.title}}</td>
        <td>{{ ticket.description}}</td>
        <td>{{ ticket.status}}</td>
        <td>{{ ticket.datetime}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}